        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 0 auto;
        }

        #sidebar {
            flex: 1;
            background-color: #ddd;
            padding: 15px;
            box-sizing: border-box;
        }

        nav {
            flex: 3;
            background-color: #f4f4f4;
            padding: 15px;
            box-sizing: border-box;
        }

        main {
            flex: 6;
            background-color: white;
            padding: 15px;
            box-sizing: border-box;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav a {
            text-decoration: none;
            color: #333;
            display: block;
            padding: 10px;
            margin-bottom: 5px;
            background-color: #ddd;
            border-radius: 5px;
        }

        nav a:hover {
            background-color: #bbb;
        }

        .section {
            display: none;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }

        #sidebar h2 {
            margin-bottom: 10px;
        }

        .selected {
            background-color: #3498db;
            color: white;
        }

        @media (max-width: 768px) {
            #sidebar {
                order: 3;
            }

            nav {
                order: 1;
            }

            main {
                order: 2;
            }
        }

        .section {
            display: block;
        }